.video-player {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  height: 270px;
}

.video-container {
  // height: 100%;
  width: 100%;
  height: fit-content;
}

.video-img {
  width: 100%;
}

.player-window {
  width: 100%;
}

.player-window:hover {
  cursor: pointer;
}

.play-icon {
  position: relative;
  transform: translateY(-100px);
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}
