.video-player {
  height: max-content;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.stop-playing {
  // to make play icon absolute positioning work
  position: relative;
  width: 100%;

  .play-icon {
    color: lightgrey;
    z-index: 99;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .video-img {
    width: 100%;
    margin: 5px 0;
  }
}

.player-window {
  width: 100%;
}

.player-window:hover {
  cursor: pointer;
}
