<div class="video-player">
  <!-- <div
    class="viewport-wrapper"
    [style.background-image]="'url(' + video?.image + ')'"
  >
    <video
      [class.show]="isPlaying"
      class="player-window"
      #player
      width="300px"
      loop
      (mouseenter)="playVideo()"
      (mouseleave)="stopVideo()"
    >
      <source [src]="video ? video.video_files[0].link : ''" type="video/mp4" />
      Your borswer not support.
    </video>
  </div> -->
  <div
    class="video-container"
    [ngStyle]="
      !isPlaying
        ? {
            'background-image': 'url(' + video.image + ')',
            'background-size': 'cover',
            'background-position': 'center',
            'background-repeat': 'no-repeat'
          }
        : {}
    "
    (mouseenter)="showVideo()"
    (mouseleave)="hideVideo()"
  >
    <video
      *ngIf="isPlaying"
      class="player-window"
      #player
      loop
      (mouseover)="playVideo()"
      (mouseleave)="stopVideo()"
    >
      <source [src]="video.video_files[0].link" type="video/mp4" />
      Your broswer not support.
    </video>
  </div>

  <mat-icon
    class="play-icon"
    [ngClass]="{ show: !isPlaying || videoPlayer?.nativeElement?.paused }"
  >
    play_circle
  </mat-icon>
</div>
