<div class="video-player">
  <div
    class="video-container"
    (mouseenter)="showVideo()"
    (mouseleave)="hideVideo()"
  >
    <img *ngIf="!isPlaying" class="video-img" src="{{ video.image }}" />
    <video
      *ngIf="isPlaying"
      class="player-window"
      #player
      loop
      (mouseover)="playVideo()"
      (mouseleave)="stopVideo()"
      (fullscreenchange)="onFullScreenChange()"
      controls
    >
      <source [src]="video.video_files[0].link" type="video/mp4" />
      Your browser not support video.
    </video>
  </div>

  <mat-icon
    class="play-icon"
    [ngClass]="{ show: !isPlaying && videoPlayer?.nativeElement?.paused }"
  >
    play_circle
  </mat-icon>
</div>
